/datasets/
/experiment_config/
/experiment_logs/
/extracted_rationales/
*.pt
/src/data_functions/.temp_data/
*.sh
__pycache__
/FRESH_classifiers/
*model*
/posthoc_results/*/*npy
*.out
.env
./scibert_scivocab_uncased